#section2-2
{
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* gap: 200px; */
}

shop-element
{
	width: 100%;
	height: 95%;
}

#div1
{
	width: 100%;
	height: 25%;
	display: flex;
	/* background-color: aqua; */
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	gap: 20px;
}

@font-face {
	font-family: 'PassionOne-Bold';
    src: url('../images/PassionOne-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#pong-shop
{
	width: 100%;
	height: 15%;
	display: flex;
	flex-direction: row;
	font-family: PassionOne-Bold;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
#img
{
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: blue; */
}

#pong > h1
{
	font-size: 55px;
	color: white;
}
#shop > h1
{
	font-size: 55px;
	color: rgba(218, 0, 254, 1);
}

#div2
{
	width: 100%;
	height: 32%;
	background-color: transparent;
	/* background-color: rgb(51, 63, 63); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#div2-1
{
	width: 80%;
	height: 20%;
	/* background-color: rgb(40, 168, 168); */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#balls
{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
@font-face {
	font-family: 'Bungee-Regular';
    src: url('../images/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#balls > h1
{
	font-size: 45px;
	font-family: Bungee-Regular;
	color: rgb(255, 255, 255);
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
}

#shop-ball
{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 30px;
}

.icons
{
	width: 15%;
	height: 80%;
	border-radius: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) , rgba(233, 82, 51, 1)); */
}
.org
{
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) , rgba(233, 82, 51, 1));
	/* background-color: white; */
}
.rs
{
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) , rgba(255, 0, 245, 1));
}
.blu
{
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) , rgba(12, 197, 255, 1));
}
.grn
{
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) , rgba(0, 255, 56, 1));
}

#img-ball
{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#type-ball
{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* background-color: rgb(100, 111, 37); */
}
#type-ball-1
{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* background-color: rgb(100, 111, 37); */
}

@font-face {
	font-family: 'InterTight-VariableFont_wght';
    src: url('../images/InterTight-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Nosifer-Regular';
    src: url('../images/Nosifer-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#fire-ball
{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	font-family: InterTight-VariableFont_wght;
	gap: 10px;
	/* background-color: rgb(100, 111, 37); */
}

#fire-ball-1 > h1
{
	color: rgba(255, 74, 41, 1);
}

#neon-ball-1 > h1
{
	color:rgba(255, 83, 249, 1);
}
#water-ball-1 > h1
{
	color:rgba(18, 191, 255, 1);
}
#earth-ball-1 > h1
{
	color:rgba(83, 255, 122, 1);
}
#fire-ball-2 > h1
{
	color: white;
}
#fire-ball-3
{
	color: white;
	font-family: Nosifer-Regular;
	/* font-family: PassionOne-Bold; */
}

#type-ball-2
{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
@font-face {
	font-family: 'BowlbyOne-Regular';
    src: url('../images/BowlbyOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#price
{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: BowlbyOne-Regular;
}

#buy
{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#buy-fire
{
	width: 30%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	color: white;
	background-color: rgb(174, 50, 28);
}
#buy-neon
{
	width: 30%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	color: white;
	background-color: rgba(162, 9, 158, 1);
}
#buy-water
{
	width: 30%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	color: white;
	background-color: rgba(12, 109, 149, 1);
}
#buy-earth
{
	width: 30%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	color: white;
	background-color: rgba(5, 158, 41, 1);
}

#color-org > h1
{
	color: rgba(255, 74, 41, 1);
}

#div3
{
	width: 100%;
	height: 32%;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.right-line {
	flex: 4;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.circlee {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: rgba(250, 0, 255, 1);
}

.line {
	height: 5px;
	width: calc(100% - 20px);
	background-color: rgba(250, 0, 255, 1);
}